.DS_Store
**/.idea
**/.gradle
**/contratashow.iml
*.pmd
*.ruleset
*.checkstyle
*.settings/
*.db
*.log
bin/
bin-debug/
*.bak
*.orig
.metadata/
files/
.externalToolBuilders
client/java/target/
*.db
*.zip
**/.DS_Store

##########################
###     Node Server    ###
##########################
.DS_Store
**/*.log

**/node_modules
**/uploads

**/*.log

